{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<header>
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "hymyrznjip");
</script>
</header>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        Over how many days did your summer school take place?
      </h1>

      <form class="form" action="/schooldays" method="post">

        <p>
          {% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
            hint: {
              text: "Enter number of days between 1 and 30"
            },
            classes: "govuk-!-width-one-quarter",
            id: "event-days",
            name: "event-days",
            value: data['event-days']
          }) }}
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
