{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        Provide your UKNOO or UNO
      </h1>

      <form class="form" action="/uknoo" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          hint: {
            text: "This is your unique number and must be between 6 to 8 digits"
          },
          id: "uknoo",
          classes: "govuk-input--width-10",
          name: "uknoo",
          value: data['uknoo']
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
